<%- layout('layouts/main') %>
<section class="thanks">
    <div class="wrap">
        <h1>Thank you for contacting us!</h1>
        <h2>We will get in touch <span style="color: #009EE2;">shortly.</span></h2>
    </div>
</section>
<script>
    setTimeout(function () {
       window.location.href = "/"; 
    }, 5000);
</script>